* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* settings layout */

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100vw;
  height: calc(100vh - 130px);
  display: flex;
}


footer {
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

footer .barfoot {
  width: 30%;
  height: 100%;
}

/* // settings layout */




/* start header */

header .bar.one,header .bar.two {
  color: white;
  font-weight: 300;
  padding: 5px;
  border-radius: 10px;
  background-color:#353535;
  
}

header .bar i {
  font-size: 20px;
  margin:0 5px;
}

header .bar {
  margin:0 5px;
}

/* //header */




/* start main */


main {
  background-color: black;
}

main .contenitor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: stretch;
}

main .contenitor .image {
  width: calc(100% / 6);
  flex-grow: 1;
  flex-shrink: 1;
  margin:0 5px 5px 0;
}

main .contenitor .image {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Colosseo_2020.jpg/1200px-Colosseo_2020.jpg");
  background-size: cover;
  background-position:center;
}

/* simboli laterali */


main .simbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 20px;
}

main .simbol i {
  font-size: 50px;
  color: gray;
}

main .simbol span {
  font-size: 10px;
  color: white;
}


/* //simboli laterali */

/* //main */




/* start footer */
footer {
  background-color:  black;
}


footer .barfoot {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15vw;
}

footer .barfoot.one,
footer .barfoot.two {
  color: white;
}


/* prima barra a destra */

footer .barfoot.one i {
  font-size: 20px;
}



footer .barfoot.one,footer .barfoot.two {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .barfoot.one div,
footer .barfoot.two div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 20px;
}

footer .barfoot.one div span,
footer .barfoot.two div span {
  margin-top: 5px;
  font-size: 10px;
}



footer .barfoot.one div i,
footer .barfoot.two div i {
  font-size: 20px;
}


footer .barfoot.two .green i {
  color:green;
}
/* // prima barra a destra */


/* seconda barra centrale */

footer .barfoot.two {
  flex-basis: 50vw;
}


/* // seconda barra centrale */


/* terza barra laterale */

footer .barfoot.three {
  flex-basis: 10vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: gray;
}


/* // terza barra laterale */






/* //footer */






/* debug */

/* .debug header {
  background-color: green;
} */

/* .debug .bar {
  background-color: chocolate;
}

.debug main .simbol {
  background-color: orange;
}
 */
/* 
.debug main {
  background-color: black;
}

.debug main .contenitor .image {
  background-color: crimson;
  border: 1px solid white;
} */

/* .debug footer {
  background-color: red;

}

.debug .barfoot.one {
  background-color: violet;
}

.debug .barfoot.two {
  background-color: yellow;
}
.debug .barfoot.three {
  background-color: blue;
} */
/* //debug */