* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* settings layout */

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100vw;
  height: calc(100vh - 130px);
  display: flex;
}


footer {
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

footer .barfoot {
  width: 30%;
  height: 100%;
}

/* // settings layout */




/* start header */

header .bar-one,header .bar-two {
  
}

/* //header */




/* start main */

/* lateral simbols  */

/* lateral simbols  */

main .contenitor {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: stretch;
}

main .contenitor .image {
  width: calc(100% / 6);
  flex-grow: 1;
  flex-shrink: 1;
  margin:0 5px 5px 0;
}

main .simbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* //main */




/* start footer */
footer div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15vw;

}
footer div:nth-of-type(2) {
  flex-basis: 50vw;
}

footer div:nth-of-type(3) {
  flex-basis: 10vw;
}


/* //footer */






/* debug */

.debug header {
  background-color: green;
}

.debug .bar {
  background-color: chocolate;
}

.debug main .simbol {
  background-color: orange;
}


.debug main {
  background-color: black;
}

.debug main .contenitor .image {
  background-color: crimson;
  border: 1px solid white;
}

.debug footer {
  background-color: red;

}

.debug .barfoot.one {
  background-color: violet;
}

.debug .barfoot.two {
  background-color: yellow;
}
.debug .barfoot.three {
  background-color: blue;
}
/* //debug */