* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* settings layout */

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100vw;
  height: calc(100vh - 130px);
}


footer {
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

footer .barfoot {
  width: 30%;
  height: 100%;
}

/* // settings layout */




/* start header */

header .bar-one,header .bar-two {
  
}

/* //header */




/* start main */

/* //main */




/* start footer */
footer div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15vw;

}
footer div:nth-of-type(2) {
  flex-basis: 40vw;
}



/* //footer */






/* debug */

.debug header {
  background-color: green;
}

.debug .bar {
  background-color: chocolate;
}

.debug main {
  background-color: black;
}


.debug footer {
  background-color: red;

}

.debug .barfoot.one {
  background-color: violet;
}

.debug .barfoot.two {
  background-color: yellow;
}
.debug .barfoot.three {
  background-color: blue;
}
/* //debug */